{% extends 'blog/base_blog.html' %}
{% load static %}

{% block title %}
    <h2>Привет проект на Django</h2>

    <p>
        Это описание выводиться на html странице
    </p>

    <p>
        {{desc}}
    </p>

    <p>При помощий "cars.index" </p>

    <ul>
        <li>{{ cars.0 }}</li>
        <li>{{ cars.1 }}</li>
        <li>{{ cars.2 }}</li>
        <li>{{ cars.3 }}</li>
    </ul>

    <p>При помощий "for in" </p>
{% endblock %}

{% block content %}
    <ul>
        {% for item in cars %}
        <li>{{item}}</li>
        {% endfor %}
    </ul>

    <p>{{ phone.name }}</p>
    <p>{{ phone.memory }}</p>
    <p>{{ phone.brand }}</p>

    <a href="/my_cv">
        <img src="{% static 'image/decode.jpeg' %}" width="600">
    </a>


    {% for car in cars_with_img %}
        <div>
            <img src = '{% static car.img %}' width="300">
            <p> {{car.name}} </p>
        </div>
    {% endfor %}
{% endblock %}


<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Document</title>-->
<!--    <link rel="stylesheet" href="{% static 'css/main.css' %}">-->
<!--</head>-->
<!--<body>-->




<!--    -->

<!--</body>-->
<!--</html>-->